aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
backoff
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
dataclasses-json
elastic-transport
elasticsearch
emoji
eval_type_backport
exceptiongroup

fastapi
ffmpy
filelock
filetype
frozenlist
fsspec
gradio
gradio_client
greenlet
groovy
h11
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langdetect
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
olefile
ollama
orjson
packaging
pandas
pdfminer.six
pillow
propcache
psutil
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
pypdf
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
pytz
PyYAML
rank-bm25
RapidFuzz
regex
requests
requests-toolbelt
rich
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
sentencepiece
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
tomlkit
torch
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uvicorn
webencodings
websockets
wrapt
yarl
zstandard

pydantic
faiss-gpu
streamlit